[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
archivessnake = "*"
boto3 = "*"
botocore = "*"
bottle = "*"
gevent = "*"
jpylyzer = "*"
lxml = "*"
plac = "*"
python-decouple = "*"
requests = "*"
sh = "*"
tailer = "*"
rpyc = "*"
markdown = "*"
markdown-link-attr-modifier = "*"
