[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
gitpython = "*"
pytest-playwright = "*"

[packages]
archivessnake = "*"
arrow = "*"
boto3 = "*"
botocore = "*"
bottle = "*"
gevent = "*"
jinja2 = "*"
jpylyzer = "*"
lxml = "*"
markdown = "*"
markdown-link-attr-modifier = "*"
plac = "*"
python-decouple = "*"
requests = "*"
rpyc = "*"
sh = "<2"
tailer = "*"
