[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
essential-generators = "*"
gitpython = "*"
gtts = "*"
opencv-python-headless = "*"
pillow = "*"
pytest-playwright = "*"
python-docx = "*"

[packages]
archivessnake = "*"
backoff = "*"
boto3 = "*"
botocore = "*"
bottle = "*"
gevent = "*"
jinja2 = "*"
markdown = "*"
markdown-link-attr-modifier = "*"
python-decouple = "*"
requests = "*"
rpyc = "*"
sh = "*"
